<h1 class="h2  border-bottom">Change Password</h1>
<div class="mat-elevation-z8 p-3">
    <div class="row justify-content-md-center my-5">
        <div class="col-md-4">
            <mat-card class="mt-md-5" class="text-center">
                <app-alert-message></app-alert-message>
                <mat-card-content>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
                        <p>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Old Password" formControlName="oldpassword">
                                <mat-error *ngIf="changePasswordForm?.get('oldpassword')?.errors?.required">
                                Old Password is required
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input [type]="showNewPassword  ? 'password' : 'text'" matInput placeholder="New Password" formControlName="password" (keyup)="showStrengthmeter()">
                                <fa-icon *ngIf="showNewPassword" [icon]="faEye" class="field-icon" (click)="togglePassword('show', 'new')"
                                tooltip="Show password" placement="bottom">
                                </fa-icon>
                                <fa-icon *ngIf="!showNewPassword" [icon]="faEyeSlash" class="field-icon"
                                (click)="togglePassword('hide', 'new')" tooltip="Hide password" placement="bottom">
                                </fa-icon>
                                <mat-error *ngIf="changePasswordForm?.get('password')?.errors?.minlength || changePasswordForm?.get('password')?.errors?.maxlength">
                                    Password must be between 8 and 12 character and alhphanumeric with atleast 1 symbol.
                                </mat-error>
                                <mat-error *ngIf="changePasswordForm?.get('password')?.errors?.required">
                                    Password is required
                                </mat-error>
                            </mat-form-field>
                            <app-password-strength *ngIf="show" [passwordToCheck]="changePasswordForm.value.password"></app-password-strength>
                        </p>
                        <p>
                            <mat-form-field>
                                <input [type]="showConfirmPassword ? 'password' : 'text'" matInput placeholder="Confirm New Password" formControlName="confirmPassword">
                                <fa-icon *ngIf="showConfirmPassword" [icon]="faEye" class="field-icon" (click)="togglePassword('show', 'confirm')"
                                tooltip="Show password" placement="bottom">
                                </fa-icon>
                                <fa-icon *ngIf="!showConfirmPassword" [icon]="faEyeSlash" class="field-icon"
                                (click)="togglePassword('hide', 'confirm')" tooltip="Hide password" placement="bottom">
                                </fa-icon>
                                <mat-error *ngIf="changePasswordForm?.get('confirmPassword')?.errors?.required">
                                    Field is required
                                </mat-error>
                                <mat-error *ngIf="changePasswordForm?.get('confirmPassword')?.errors?.mustMatch">
                                    Password do not match, Please re-enter.
                                </mat-error>
                            </mat-form-field>
                        </p>
                    <div class="button my-2">
                        <button type="submit" mat-raised-button color="primary">Submit</button>
                    </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
