<div class="container">
    <div class="row">
        <div class="col-md-12">
          <header>
            <nav id="navbar-top" class="navbar navbar-light">
                <a class="navbar-brand bg-dark" href="#homeBlock">
                    <img alt="Logo University" class="brandLogo" src="../assets/images/iNLogo.png" />
                </a>
            </nav>
          </header>
        </div>
    </div>
    <router-outlet></router-outlet>
    <footer>
        <div class="container text-center">
            <hr>
            <p>&copy; iNurture Education Solution Pvt. Ltd.</p>
            <p>Niton Compound, # 11/4 A, Block – B1, Palace Road, Vasanthnagar, Bangalore – 560052</p>
            <p>Tel: +91-80-4257-6666,
               Email: admission@inurture.co.in
            </p>
        </div>
    </footer>
</div>