<div class="container">
    <app-header></app-header>   
    <div class="row justify-content-md-center my-5">
        <div class="col-md-4">
            <mat-card class="mt-md-5" class="text-center">
            <mat-card-title color="primary">Forgot your password?</mat-card-title>
            <mat-card-subtitle>Please enter the email you use to sign in.</mat-card-subtitle>
            <mat-card-content>
                <form [formGroup]="forgotPassword" (ngSubmit)="submit()">
                <p>
                    <mat-form-field>
                    <input type="text" matInput placeholder="Your Email" formControlName="email">
                    <mat-error *ngIf="forgotPassword?.get('email')?.errors?.email && !forgotPassword?.get('email')?.errors?.required">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="forgotPassword?.get('email')?.errors?.required">
                        Email is required
                    </mat-error>
                    </mat-form-field>
                </p>
                <div class="button my-4">
                <button type="submit" mat-raised-button color="primary">Reset Password</button>
                </div>
                <p>
                    <mat-card-subtitle class="text-center" color="primary">
                        <a routerLink="/">Back to Sign in?</a>
                    </mat-card-subtitle>
                    </p>
                </form>
            </mat-card-content>
            </mat-card>
        </div>
    </div>
    <app-footer></app-footer>
</div>
