table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 767px) {
  .mat-table {
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell:first-child{
    display: block;
    border-bottom: none;
    display: flex !important;
    justify-content: flex-end !important
  }
  
  .mat-table .mat-header-cell{
    display: none;
  }
 
  /* mat-header-row{
    
  } */

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  
  /* .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF} */
 
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:45px;
    margin-bottom: 5%;
    padding: 8px;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-checkbox.mat-accent .mat-checkbox-inner-container {
    margin-left: 50px !important;
  }
}

