table {
    width: 100%;
    table-layout: fixed;
}


th.mat-sort-header-sorted {
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mat-column-select{
  width: 40px;
  padding: 5px !important;
  text-align: center;
}

.mat-column-userConsent{
  width: 65px;
  text-align: center;
}

@media screen and (max-width: 767px) {

  .w-25{
    width: 75% !important;
  }
  
  .mat-column-userConsent{
    width: 100%;
  }
  .mat-column-userConsent{
    width: 100%;
  }
  .mat-table {
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-header-cell:first-child{
    display: block;
    border-bottom: none;
    display: flex !important;
    justify-content: flex-end !important
  }
  
  .mat-table .mat-header-cell{
    display: none;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  
 
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:45px;
    margin-bottom: 5%;
    padding: 8px;
  }
  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
  .mat-checkbox.mat-accent .mat-checkbox-inner-container {
    margin-left: 50px !important;
  }
}

