<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center">
      <img src="../../../assets/images/iNLogo.png" alt="iNurture Logo" class="w-50">
  </a>
  <button (click)="toggleNavbar()" class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <!-- <ul class="navbar-nav mr-auto mx-3">
      <li *appHasRole="'admin'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/user']">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/leads']">
          <span data-feather="file"></span>
          Leads
        </a>
      </li>
      <li>
        <a class="dropdown-toggle show-caret" data-toggle="collapse" aria-expanded="false" id="accountSettingsToggleId" (click)="collapsebleMenu($event)">
          Account Setting
        </a>
        <ul class="collapse" id="pageSubMenu" [ngClass]="{ show: collapseMenuLink && toggleId == 'accountSettingsToggleId' }">
          <li>
            <a [routerLink]="[changePasswordRoute]">vhvh</a>
          </li>
          <li>
            <a href="">bmbb</a>
          </li>
          <li>
            <a href="">bmbm</a>
          </li>
        </ul>>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">
          <span data-feather="bar-chart-2"></span>
          Logout
        </a>
      </li>
    </ul> -->
    <mat-accordion class="app-nav-accordion">
      <mat-nav-list>
        <a mat-list-item *appHasRole="'admin'" [routerLink]="['/admin']">Dashboard</a>
        <a mat-list-item [routerLink]="['/leads']">Leads</a>
      </mat-nav-list>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <mat-panel-title>Settings</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
            <a mat-list-item [routerLink]="[profileSettingRoute]">Profile setting</a>
            <a mat-list-item [routerLink]="[changePasswordRoute]">Change password</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-nav-list>
        <a mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-accordion>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <!-- <ul class="nav flex-column">
          <li *appHasRole="'admin'" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/admin']">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" [routerLink]="['/leads']">
              <span data-feather="file"></span>
              Leads
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Account Setting
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="logout()">
              <span data-feather="bar-chart-2"></span>
              Logout
            </a>
          </li>
        </ul> -->
        <mat-accordion class="app-nav-accordion">
          <mat-nav-list>
            <a mat-list-item *appHasRole="'admin'" [routerLink]="['/admin']">Dashboard</a>
            <a mat-list-item [routerLink]="['/leads']">Leads</a>
          </mat-nav-list>
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>Settings</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item *appHasRole="'admin, user'" [routerLink]="[profileSettingRoute]" routerLinkActive="active">Profile setting</a>
                <a mat-list-item *appHasRole="'admin, user'" [routerLink]="[changePasswordRoute]" routerLinkActive="active" >Change password</a>
            </mat-nav-list>
          </mat-expansion-panel>
          <mat-nav-list>
            <a mat-list-item (click)="logout()">Logout</a>
          </mat-nav-list>
        </mat-accordion>
      </div>
    </nav>
    <main role="main" class="col-md-10 col-lg-10 ml-sm-auto px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <!-- <h1 class="h2">Dashboard</h1> -->
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div> -->
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
<footer class="py-2 px-4 bg-dark text-white text-center">
  <p class="fs-6">&copy; iNurture Education Solution Pvt. Ltd.</p>
</footer>
  