<div class="row">
    <div class="col-md-12">
    <header>
        <nav id="navbar-top" class="navbar navbar-light">
            <a class="brand-logo" routerLink="/">
                <div class="logo d-inline">
                    <img alt="Logo University" class="brandLogo" [src]="[inLogo]" />
                </div>
                <div class="heading d-inline">
                    <h3 class="d-inline mx-2 text-dark">Lead Management App</h3>
                </div>
            </a>
        </nav>
    </header>
    </div>
</div>