<div class="container">
  <app-header></app-header>  
  <div class="row">
      <div class="col-md-8">
        <div>
          <img src="../../assets/images/login-image.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4">
        <mat-card class="mt-md-5">
          <mat-card-title color="primary" class="text-center">Welcome!</mat-card-title>
          <mat-card-subtitle class="text-center">Sign in to check leads</mat-card-subtitle>
          <mat-card-content>
            <app-alert-message></app-alert-message>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="loginForm?.get('email')?.errors?.email && !loginForm?.get('email')?.errors?.required">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="loginForm?.get('email')?.errors?.required">
                    Email is required
                  </mat-error>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                  <fa-icon *ngIf="hidePassword" [icon]="faEye" class="field-icon" (click)="togglePassword('show')"
                  tooltip="Show password" placement="bottom">
                  </fa-icon>
                  <fa-icon *ngIf="!hidePassword" [icon]="faEyeSlash" class="field-icon"
                    (click)="togglePassword('hide')" tooltip="Hide password" placement="bottom">
                  </fa-icon>
                  <mat-error *ngIf="loginForm?.get('password')?.errors?.minlength || loginForm?.get('password')?.errors?.maxlength">
                    Password must be between 8 and 12 character.
                  </mat-error>
                  <mat-error *ngIf="loginForm?.get('password')?.errors?.required">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </p>
              <div class="button my-4">
                <button type="submit" mat-raised-button color="primary" class="block-btn">SIGN IN</button>
              </div>
              <p>
                <mat-card-subtitle class="text-center" color="primary">
                  <a routerLink="../forgot-password">Forgot Password?</a>
                </mat-card-subtitle>
              </p>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <app-footer></app-footer>
</div>


