<div class="wrapper">
  <nav id="sidebar" [ngClass]="{ active: showSideMenu }">
    <div class="sidebar-header">
      <img
        src="../../../assets/image/Tros.png"
        alt=""
        width="70px"
        height="70px"
      />
    </div>
    <ul class="list-unstyled components">
      <p></p>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin, hr, deo, manager'"
      >
        <a [routerLink]="[dashboardRoute]">Dashboard</a>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="reportsLinkToggleId"
          (click)="toggleNavbar($event)"
          >Reports</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{ show: navbarOpen && toggleId == 'reportsLinkToggleId' }"
        >
          <li>
            <a [routerLink]="['/admin/admin-work-report']">Work Report</a>
          </li>
          <li>
            <a [routerLink]="['/admin/admin-attendence-report']"
              >Attendance Report</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/admin-leave-report']">Leave Report</a>
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="userLinkToggleId"
          (click)="toggleNavbar($event)"
          >Manage Employee</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{ show: navbarOpen && toggleId == 'userLinkToggleId' }"
        >
          <li>
            <a [routerLink]="['/admin/employee-list']">Employee List</a>
          </li>
          <li>
            <a [routerLink]="['/admin/office-employee-list']"
              >Office Employee List</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/add-employee']">Add Employee</a>
          </li>
          <li>
            <a [routerLink]="['/admin/admin-team-member-list']">Team Members</a>
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="ulbLinkToggleId"
          (click)="toggleNavbar($event)"
          >ULB</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{ show: navbarOpen && toggleId == 'ulbLinkToggleId' }"
        >
          <li>
            <a [routerLink]="['/admin/ulb-list']">ULB List</a>
          </li>
          <li>
            <a [routerLink]="['/admin/add-ulb']">Add ULB</a>
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="holidayToggleId"
          (click)="toggleNavbar($event)"
          >Leave & Holiday</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{ show: navbarOpen && toggleId == 'holidayToggleId' }"
        >
          <li>
            <a [routerLink]="['/admin/leave-type-list']">Leave Types</a>
          </li>
          <li>
            <a [routerLink]="['/admin/create-leave-type']">Create Leave Type</a>
          </li>
          <li>
            <a [routerLink]="['/admin/holiday-list']">Holidays List</a>
          </li>
          <li>
            <a [routerLink]="['/admin/add-holiday']">Add Holiday</a>
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'manager, hr, deo'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="attendenceLinkToggleId"
          (click)="toggleNavbar($event)"
          >Attendance</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{
            show: navbarOpen && toggleId == 'attendenceLinkToggleId'
          }"
        >
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *appHasRole="'manager, hr, deo'"
          >
            <a [routerLink]="[leaveAttendanceRoute]">Attendance & Leave</a>
          </li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            *appHasRole="'manager, hr, deo'"
          >
            <a [routerLink]="[appliedLeavesRoute]">Applied Leaves</a>
          </li>
          <li
            *appHasRole="'manager'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a [routerLink]="['/user/manager/verify-attendance']"
              >Verify Attendance</a
            >
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="serviceLinkToggleId"
          (click)="toggleNavbar($event)"
          >Employee Work</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{ show: navbarOpen && toggleId == 'serviceLinkToggleId' }"
        >
          <li>
            <a [routerLink]="['/admin/work-list']">Work List</a>
          </li>
          <li>
            <a [routerLink]="['/admin/add-work']">Add Work</a>
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'admin'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="notificationLinkToggleId"
          (click)="toggleNavbar($event)"
          >Notification</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{
            show: navbarOpen && toggleId == 'notificationLinkToggleId'
          }"
        >
          <li>
            <a [routerLink]="['/admin/create-notification']"
              >Create Notification</a
            >
          </li>
          <li>
            <a [routerLink]="['/admin/notification-list']">Notification List</a>
          </li>
        </ul>
      </li>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        *appHasRole="'deo, manager'"
      >
        <a
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle show-caret"
          id="taskLinkToggleId"
          (click)="toggleNavbar($event)"
          >Task</a
        >
        <ul
          class="collapse list-unstyled"
          id="pageSubMenu"
          [ngClass]="{ show: navbarOpen && toggleId == 'taskLinkToggleId' }"
        >
          <li>
            <a [routerLink]="[completedTask]">Submitted Tasks</a>
          </li>
          <li>
            <a [routerLink]="[previewTask]">Unsubmitted Tasks</a>
          </li>
          <li>
            <a [routerLink]="[createTask]">Create Task</a>
          </li>
          <li *appHasRole="'manager'">
            <a [routerLink]="['/user/manager/varify-task']">Verify Tasks</a>
          </li>
        </ul>
      </li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg bg-white top-nav">
      <div class="container-fluid">
        <button
          id="sidebarcollapse"
          class="btn btn-info"
          (click)="toggleSidebar()"
          title="Toggle Side Menu"
        >
          <fa-icon [icon]="faExchangeAlt"></fa-icon>
        </button>
        <div class="navbar-right" style="padding-right: 0">
          <!-- <div style="display: inline-block;" class="right-menu">
            <fa-icon [icon]="faBell"></fa-icon>
          </div> -->
          <span class="right-menu">
            <img
              *ngIf="currentUser?.profileImage == null"
              [src]="userDefaultPhoto"
              alt="Profile photo of {{ currentUser?.name }}"
              class="profile-photo"
            />
            <img
              *ngIf="currentUser?.profileImage !== null"
              [src]="thumbnail"
              alt="Profile photo of {{ currentUser?.name }}"
              class="profile-photo"
            />
          </span>
          <div
            style="display: inline-block"
            class="right-menu"
            dropdown
            placement="bottom right"
          >
            <div
              dropdownToggle
              class="dropdown-toggle show-caret show-pointer"
              aria-controls="dropdown-basic"
            >
              <span>
                {{ currentUser?.name }}
              </span>
              <ul
                id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-basic"
              >
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    [routerLink]="yourProfileRoute"
                    routerLinkActive="active"
                  >
                    Your profile
                  </a>
                </li>
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    [routerLink]="updateProfileRoute"
                    routerLinkActive="active"
                    >Update profile</a
                  >
                </li>
                <li role="menuitem">
                  <a
                    class="dropdown-item"
                    [routerLink]="accountSettingRoute"
                    routerLinkActive="active"
                  >
                    Account Security
                  </a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="logout()">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>